In [ ]:
import pandas as pd
df = pd.read_csv("/content/empdata.csv")

In [ ]:
df.head()

   Empid           Ename    Salary         DOJ
0   1001          Ganesh   1000.00  10-10-2000
1   1002            Anil  23000.50   3/20/2002
2   1003          Gaurav       NaN  03-03-2002
3   1004    Hema Chandra  16500.50  09-10-2000
4   1005  Laxmi Prasanna  12000.75  10-08-2000

In [ ]:
df.style

In [ ]:
df.shape

(6, 4)

In [ ]:
df.Empid

0    1001
1    1002
2    1003
3    1004
4    1005
5    1006
Name: Empid, dtype: int64

In [ ]:
df.columns

Index(['Empid', 'Ename', 'Salary', 'DOJ'], dtype='object')

In [ ]:
df.tail(2)

   Empid           Ename    Salary         DOJ
4   1005  Laxmi Prasanna  12000.75  10-08-2000
5   1006          Anant    9999.99  09-09-1999

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Empid   6 non-null      int64
 1   Ename   6 non-null      object
 2   Salary  5 non-null      float64
 3   DOJ     6 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 320.0+ bytes

In [ ]:
df.size

24

In [ ]:
df.describe

<bound method NDFrame.describe of    Empid           Ename    Salary         DOJ
0   1001          Ganesh   1000.00  10-10-2000
1   1002            Anil  23000.50   3/20/2002
2   1003          Gaurav       NaN  03-03-2002
3   1004    Hema Chandra  16500.50  09-10-2000
4   1005  Laxmi Prasanna  12000.75  10-08-2000
5   1006          Anant    9999.99  09-09-1999>

In [ ]:
df.DOJ

0    10-10-2000
1     3/20/2002
2    03-03-2002
3    09-10-2000
4    10-08-2000
5    09-09-1999
Name: DOJ, dtype: object

In [ ]:
df[["Empid","Ename"]]

   Empid           Ename
0   1001          Ganesh
1   1002            Anil
2   1003          Gaurav
3   1004    Hema Chandra
4   1005  Laxmi Prasanna
5   1006          Anant

In [ ]:
df1 = df.append(df)
print('Dimensions of the original frame',df.shape)
print('Dimensions of the frame with duplicates',df1.shape)
#remove the duplicates
df1 = df1.drop_duplicates() #or use this statement df1.drop_dulipacte(inplace=True)
print ('dimension of the frame after after removing duplication',df1.shape)

Dimensions of the original frame (6, 4)
Dimensions of the frame with duplicates (12, 4)
dimension of the frame after after removing duplication (6, 4)

<ipython-input-21-d9f26efe4b96>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df.append(df)

In [ ]:
df.columns =[i.lower() for i in df]
print (df.columns)

Index(['empid', 'ename', 'salary', 'doj'], dtype='object')

In [ ]:
df.columns=[i.upper() for i in df]
print(df.columns)

Index(['EMPID', 'ENAME', 'SALARY', 'DOJ'], dtype='object')

In [ ]:
df.isna().sum()
#df.isna().sum()

#print(df.isnull())
print('the no. of nulls in each columns is \n',df.isnull().sum())
df.dropna(axis = 1, inplace = False)

the no. of nulls in each columns is
 EMPID     0
ENAME     0
SALARY    1
DOJ       0
dtype: int64

   EMPID           ENAME         DOJ
0   1001          Ganesh  10-10-2000
1   1002            Anil   3/20/2002
2   1003          Gaurav  03-03-2002
3   1004    Hema Chandra  09-10-2000
4   1005  Laxmi Prasanna  10-08-2000
5   1006          Anant   09-09-1999

In [ ]:
print('highest Salary is',df['SALARY'].max())
print('lowest Salary is',df['SALARY'].min())

highest Salary is 23000.5
lowest Salary is 1000.0

In [ ]:
df.SALARY

0     1000.00
1    23000.50
2         NaN
3    16500.50
4    12000.75
5     9999.99
Name: SALARY, dtype: float64

In [ ]:
df [df.SALARY > 20000]

   EMPID ENAME   SALARY        DOJ
1   1002  Anil  23000.5  3/20/2002

In [ ]:
df[['EMPID','ENAME']] [df.SALARY > 20000]

   EMPID ENAME
1   1002  Anil

In [ ]:
print ('average SALARY:',df.SALARY.mean())
df['ENAME'][df.SALARY > df.SALARY.mean()]

average SALARY: 12500.348

1            Anil
3    Hema Chandra
Name: ENAME, dtype: object

In [ ]:
df1['DOJ'] = pd.to_datetime(df1['DOJ'])  #convert DOJ to datatype
df1.info()
print('frame before sorting \n',df1)
df1.sort_values("DOJ", inplace = True)
print('frame after sorting \n',df1)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 5 to 1
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Empid   6 non-null      int64
 1   Ename   6 non-null      object
 2   Salary  5 non-null      float64
 3   DOJ     6 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 240.0+ bytes
frame before sorting
    Empid           Ename    Salary        DOJ
5   1006          Anant    9999.99 1999-09-09
3   1004    Hema Chandra  16500.50 2000-09-10
4   1005  Laxmi Prasanna  12000.75 2000-10-08
0   1001          Ganesh   1000.00 2000-10-10
2   1003          Gaurav       NaN 2002-03-03
1   1002            Anil  23000.50 2002-03-20
frame after sorting
    Empid           Ename    Salary        DOJ
5   1006          Anant    9999.99 1999-09-09
3   1004    Hema Chandra  16500.50 2000-09-10
4   1005  Laxmi Prasanna  12000.75 2000-10-08
0   1001          Ganesh   1000.00 2000-10-10
2   1003          Gaurav       NaN 2002-03-03
1   1002            Anil  23000.50 2002-03-20