In [ ]:
#import the pandas libary and aliasing as pd
import pandas as pd
import numpy as np
data= np.array(['a','b','c','d'])
s=pd.Series (data)
print (s)

0    a
1    b
2    c
3    d
dtype: object

In [ ]:
import pandas as pd
import numpy as np
data= np.array(['a','b','c','d'])
s=pd.Series(data,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [ ]:
import pandas as pd
import numpy as np
data ={'a':0.1,'b':1.2,'c':2.2}
s =pd.Series(data)
print (s)

a    0.1
b    1.2
c    2.2
dtype: float64

import pandas as pd
import numpy as np
data ={'a':0.,'b':1.,'c':2.}
s =pd.Series(data,index=['b','c','d','a'])
print (s)

In [ ]:
import pandas as pd
import numpy as np
data ={'a':0.1,'b':1.2,'c':2.2}
s =pd.Series(data,index=['a','d','c','b'])
print (s)

a    0.1
d    NaN
c    2.2
b    1.2
dtype: float64

In [ ]:
import pandas as pd
import numpy as np
s =pd.Series(5,index=[0,1,2,3])
print (s)

0    5
1    5
2    5
3    5
dtype: int64

In [ ]:
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
#retrieve a single element
print(s['a'])

1

In [ ]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
import pandas as pd
data=[['alex',10],['bob',11],['can',12]]
df=pd.DataFrame(data,columns=['Name','Age'])
print (df)

   Name  Age
0  alex   10
1   bob   11
2   can   12

In [ ]:
import pandas as pd
data=[['alex',10],['bob',11],['can',12]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print (df)

   Name   Age
0  alex  10.0
1   bob  11.0
2   can  12.0

<ipython-input-25-5e965d0ee5ea>:3: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)

In [ ]:
import pandas as pd
data ={'Name':['tom','jeery'],'age':[21,22]}
df=pd.DataFrame(data,index=['rank1','rank2'])
print(df)

        Name  age
rank1    tom   21
rank2  jeery   22

In [ ]:
import pandas as pd
data =[{'a':1 ,'b':2},{'a':5,'b':10,'c':20}]
df=pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [ ]:
import pandas as pd
data=[{'a':1 ,'b':2},{'a':5,'b':10,'c':20}]
df1=pd.DataFrame(data,index=['first','second'],columns=['a','b'])
df2=pd.DataFrame(data,index=['first','second'],columns=['a','b1'])
print(df1)
print(df2)

        a   b
first   1   2
second  5  10
        a  b1
first   1 NaN
second  5 NaN