NORMALIZATION

In [ ]:
#import the pandas libary
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("/content/data set.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
cols=['Name','Ticket','Cabin']
df=df.drop(cols,axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB

In [ ]:
dummies=[]
cols=['Pclass','Sex','Embarked']
for col in cols:
 dummies.append(pd.get_dummies(df[col]))

In [ ]:
titanic_dummies=pd.concat(dummies,axis=1)

CONCATENATE THE VALUES WITH DATA FRAME

In [ ]:
df=pd.concat((df,titanic_dummies),axis=1)

In [ ]:
df=df.drop(['Pclass','Sex','Embarked'],axis=1)

In [ ]:
df['Age']=df['Age'].interpolate()
print(df)

     PassengerId  Survived   Age  SibSp  Parch     Fare  1  2  3  female  \
0              1         0  22.0      1      0   7.2500  0  0  1       0
1              2         1  38.0      1      0  71.2833  1  0  0       1
2              3         1  26.0      0      0   7.9250  0  0  1       1
3              4         1  35.0      1      0  53.1000  1  0  0       1
4              5         0  35.0      0      0   8.0500  0  0  1       0
..           ...       ...   ...    ...    ...      ... .. .. ..     ...
886          887         0  27.0      0      0  13.0000  0  1  0       0
887          888         1  19.0      0      0  30.0000  1  0  0       1
888          889         0  22.5      1      2  23.4500  0  0  1       1
889          890         1  26.0      0      0  30.0000  1  0  0       0
890          891         0  32.0      0      0   7.7500  0  0  1       0

     male  C  Q  S
0       1  0  0  1
1       0  1  0  0
2       0  0  0  1
3       0  0  0  1
4       1  0  0  1
..    ... .. .. ..
886     1  0  0  1
887     0  0  0  1
888     0  0  0  1
889     1  1  0  0
890     1  0  1  0

[891 rows x 14 columns]

MIN MAX SCALER AND STANDARD

In [ ]:
from sklearn.preprocessing import MinMaxScaler
data=[[-1,2],[-0.5,6],[0,10],[1,18]]
scaler=MinMaxScaler()
print(scaler.fit(data))
MinMaxScaler()
print(scaler.data_max_)
print(scaler.transform(data))

MinMaxScaler()
[ 1. 18.]
[[0.   0.  ]
 [0.25 0.25]
 [0.5  0.5 ]
 [1.   1.  ]]

In [ ]:
from numpy import asarray
from sklearn.preprocessing import StandardScaler
#define data
data=asarray([[100,0.001],[8,0.05],[50,0.005],[88,0.07],[4,0.1]])
print(data)
#define standard scaler
scaler=StandardScaler()
#transform data
scaled=scaler.fit_transform(data)
print(scaled)

[[1.0e+02 1.0e-03]
 [8.0e+00 5.0e-02]
 [5.0e+01 5.0e-03]
 [8.8e+01 7.0e-02]
 [4.0e+00 1.0e-01]]
[[ 1.26398112 -1.16389967]
 [-1.06174414  0.12639634]
 [ 0.         -1.05856939]
 [ 0.96062565  0.65304778]
 [-1.16286263  1.44302493]]